*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(1, 1, 54);
}
.biografiya{
    text-decoration: none;
    letter-spacing: 4px;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    margin: 50px;
}
.yutuqlar{
    text-decoration: none;
    letter-spacing: 4px;
    color:aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 50px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.hobbi{
    text-decoration: none;
    letter-spacing: 4px;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin: 50px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
